header img {
  width: 200px;
}

img {
  width: 100%;
  border: 2px solid #444;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  height: 100vh;
  background-image: url("../img/pexels-padrinan-19670.jpg");
  background-size: cover;
}

.glazen-box {
  padding: 16px;
  width: 320px;
  height: 390px;
  position: relative;
  z-index: 1;
  background: rgba(226, 226, 226, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #000000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
}

login-box {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  color: #000000;
  margin-left: 122px;
  margin-top: 20px;
  margin-bottom: -20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input {
  font-family: "Darumadrop One", sans-serif;
  padding: 10px;
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #000000;
  color: #000000;
  font-size: 13px;
}

input::placeholder {
  color: #000000;
}

input:focus {
  outline: none;
}

.opties {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.opties input {
  margin-right: 12px;
  margin-top: 0px;
}

.opties a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-top: 0px;
}

button {
  font-family: "Darumadrop One", sans-serif;
  padding: 10px;
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  background: #fff;
  color: #000;
  cursor: pointer;
}

button:hover {
  background: transparent;
  color: #000000;
  outline: 1px solid #000;
}

p {
  font-size: 13px;
  color: #000000;
  margin-top: 15px;
}

#register {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

nav {
  margin-top: 10px;
}

#container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  position: absolute;
  top: 0;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
