.thank-you-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.thank-you-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #000000;
}

.thank-you-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.order-summary {
    text-align: left;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-summary ul {
    list-style-type: none;
    padding: 0;
}

.order-summary li {
    font-size: 16px;
    margin: 10px 0;
}

.back-to-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d7d7d7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-to-home:hover {
    background-color: #9d9d9d;
}